@{
    ViewBag.Title = "編輯 - 訂單管理";
    Layout = "~/Views/Shared/_Layout_blank.cshtml";
    List<RSL.MSP.MVC.Model.RegentModel.RestaurantModel> RestaurantModel = ViewBag.RestaurantList;
    List<System.Data.DataRow> myPurpose = ViewBag.PurposeList;
}


<div id="validateList" class="modal-body well form-horizontal">
    <form role="form" data-toggle="validator" id="OrderForm">
        <div class="form-group" method="post" id="contact_form">
            <label class="col-md-4 control-label">訂單編號</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="txtORDERM_ID" placeholder="系統自動產生" id="txtORDERM_ID" check-type="required" class="form-control disabled" maxlength="50" type="text"  disabled="disabled" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">訂位方式</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <!--<input name="txtBOOKING_TYPE" placeholder="訂位方式" id="txtBOOKING_TYPE" check-type="required" class="form-control" maxlength="50" type="text"  required>-->
                    <select name ="txtBOOKING_TYPE"  id="txtBOOKING_TYPE" check-type="required" class="form-control" maxlength="50" type="text" required>
                        <option value="">訂位方式</option>
                        <option value="A">網頁</option>
                        <option value="B">電話</option>
                        </select>
</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">餐廳編號</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <select id="txtRESTAURANT_IDE" name="txtRESTAURANT_IDE" data-placeholder="請選擇一個按鈕" class="chosen-select form-control" tabindex="4">
                        <option selected="selected" value="" >請選擇一家餐廳</option>
                        @foreach (var item in RestaurantModel)
                        {
                            <option value="@item.RESTAURANT_ID">@item.RESTAURANT_NAME</option>
                        }
                    </select>
                    
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">用餐日期</label>
            <div class="col-md-4 inputGroupContainer input-daterange" >
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon glyphicon-calendar"></i></span>
                    <input name="first_name" placeholder="用餐日期" id="txtBOOKING_DATE" class="form-control" onkeydown="return false" maxlength="50" type="text" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">每日時段編號</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    <input name="first_name" placeholder="餐廳編號" id="txtDAILY_PERIOD_ID" class="form-control" maxlength="50" type="text" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">用餐人數</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    <input name="first_name" placeholder="用餐人數" id="txtRESERVATION_NUMBER" class="form-control" maxlength="50" type="text" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">訂位狀態</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-stats"></i></span>
                    <select name="first_name"  id="txtBOOKING_STATUS" class="form-control" maxlength="50"  required>
                        <option value="">訂位狀態</option>
                        <option value="0">尚未驗證</option>
                        <option value="1">完成訂位</option>
                        <option value="2">取消訂位</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">手機號碼</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                    <input name="first_name" placeholder="手機號碼" id="txtVERIFICATION_MOBILE" class="form-control" maxlength="50" type="text" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">顧客姓名</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-sunglasses"></i></span>
                    <input name="first_name" placeholder="顧客姓名" id="txtCUS_NAME" class="form-control" maxlength="50" type="text" >
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">顧客性別</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-king"></i></span>
                    <select name="first_name"  id="txtCUS_GENDER" class="form-control" maxlength="50">
                        <option value="">顧客性別</option>
                        <option value="M">男</option>
                        <option value="F">女</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">顧客Email</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="first_name" placeholder="顧客Email" type="email" id="txtCUS_EMAIL" class="form-control" maxlength="50">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">顧客連絡電話</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                    <input name="first_name" placeholder="顧客連絡電話" id="txtCUS_TEL" class="form-control" maxlength="50" type="text" >
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">用餐目的</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-cutlery"></i></span>
                    <select name="first_name" placeholder="用餐目的" id="txtPURPOSE" class="chosen-select form-control" maxlength="50">
                        <option selected="selected" value="">請選擇用餐目的</option>
                        @foreach (var item in myPurpose)
                        {
                                <option value="@item[0].ToString()">@item[1].ToString()</option>         
                        }
                    </select>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">特殊需求</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                    <textarea name="first_name" placeholder="特殊需求" id="txtCUS_NOTE" class="form-control" rows="4" cols="50"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">訂單狀態</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-stats"></i></span>
                    <select name="first_name"  id="txtORDER_STATUS" class="form-control" maxlength="50"   required>
                        <option value="">訂單狀態</option>
                        <option value="0">未入場</option>
                        <option value="1">己入場</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">入場時間</label>
            <div class="col-md-4 inputGroupContainer  input-daterange">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
                    <input name="first_name" placeholder="入場時間" id="txtORDER_OK_DATE" class="form-control" maxlength="50" type="text">
                </div>
            </div>
        </div>

        @*<div class="form-group">
                <label>用戶姓名</label>
                @{
                    if (ViewBag.CustomerList != null)
                    {
                        <select id="Customer_ID" class="chosen-select form-control">
                            @foreach (var item in @ViewBag.CustomerList)
                            {
                                <option value="@item.Value" selected=@item.Selected>@item.Text</option>
                            }
                        </select>
                    }
                }
            </div>*@
    </form>
</div>

<div class="modal-footer">
    <button id="btnSave" type="button" class="btn btn-primary">保存內容</button>
    <button id="btnBack" type="button" class="btn btn-danger">返回</button>
</div>

@section Styles {
    @Styles.Render("~/css/rwd-table", "~/css/checkbox-radio", "~/css/bootstrap-datepicker")
}
@section Script{
    @Scripts.Render("~/js/rwd-table", "~/js/pagination", "~/js/dialogs", "~/js/bootstrap-datepicker", "~/js/adm/validate", "~/js/adm/base", "~/js/adm/json")
}
@section PageScript {
    <script>
        //=============
        //存檔
        //============
    function saveData() {
        var postData = {
            Id: '@ViewContext.RouteData.Values["id"]',
            User_Account: $("#txtUser_Account").val(),
            User_PWD: $("#txtUser_PWD").val(),
            User_Name: $("#txtUser_Name").val(),
            Customer_ID: $("#Customer_ID").val(),
            User_Email: $("#txtUser_Email").val(),
            User_Tel: $("#txtUser_Tel").val()
        };
        var url = "@Url.Action("EditModel")";
        //XPage.SaveData(url, postData);
        if ($("#validateList").valid()) {
            var btn = $("#btnSave");
            btn.button('loading');
            $.post(url, postData, function (res, status, jqXHR) {
                if (res.flag) {
                    alert("操作成功");
                    XPage.GoTo("@Url.Action("Index")");
                } else {
                    alert("操作失敗：" + res.msg);
                }
            }).error(function () {
                alert("Server Error");
            }).complete(function () {
                btn.button('reset');
            });
        }
    }
        //=============
        //網頁剛load完
        //============
    $(document).ready(function () {
        //$("#validateList").validation({ icon: false });
        $("#btnSave").click(saveData);
        $("#btnBack").click(function () {
            XPage.GoTo("@Url.Action("Index")");
            });
        });

        //=============
        //日期選單
        //============

        //取得開放訂位期限
        var OpenSeatEndDate = '@(ViewBag.OpenSeatEndDate)';

        $('.input-daterange').datepicker({
            format: "yyyy/mm/dd",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            startDate: '+0d',
            endDate: "+" + OpenSeatEndDate + "m"
        }).removeClass("input-daterange");
        //=======Ajax改變下拉選單=======//
        //$("province_dll").change(function () {
        //    $.ajax({
        //        url: 'OrderController/getCitiesAction',
        //        type: 'post',
        //        data: {
        //            provinceId: provinceIdVar
        //        }
        //    }).done(function (response) {
        //        $("cities_dll").html(response);
        //    });
        //});
    </script>
}
